@{
    ViewData["Title"] = "Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <img src="~/img/cropped-baconsale-logo-huge.webp" />
    <a class="btn btn-primary" href="https://baconsale.com/" role="button" target="_blank" rel="noopener noreferrer">Visit</a>
</div>